@{
    ViewBag.Title = "Список всех продуктов";
    Layout = "_Layout";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table-locale-all.min.js"></script>

<table
  id="productsTable"
  data-toggle="table"
  data-height="575"
  data-ajax="ajaxRequest"
  data-custom-sort="customSort"
  data-locale="ru-RU"
  data-search="true"
  data-pagination="true">
    <thead>
        <tr>
            <th data-field="id">ID</th>
            <th data-field="name" data-sortable="true">Название</th>
            <th data-field="description">Описание</th>
            <th data-field="category.name">Категория</th>
            <th data-field="price" data-sortable="true">Цена</th>
            <th data-field="readyToSale" data-formatter="formatReadyToSale">Готов к продаже?</th>
            <th data-formatter="viewFormatter">Просмотр</th>
        </tr>
    </thead>
</table>

<script>
  // Функция для вывода списка продуктов
  function ajaxRequest(params) {
    $.ajax({
      url: '/Product/GetProductsJson',
      type: 'GET',
      dataType: 'json',
      success: function(data) {
        console.log(params)
        params.success(data);
      }
    });
  }
   
  function customSort(sortName, sortOrder) {
    $.ajax({
      url: '/Product/GetProductsSortJson',
      type: 'GET',
      dataType: 'json',
      data: {
        sortName: sortName,
        sortOrder: sortOrder
      },
      success: function(data) {
        $('#productsTable').bootstrapTable('removeAll');
  
        $('#productsTable').bootstrapTable('load', data);
      }
    });
  }
  // Функция, переименовывает поле readyToSale
  function formatReadyToSale(value) {
    if (value) {
      return '<span class="text-success">Да</span>';
    } else {
      return '<span class="text-danger">Нет</span>';
    }
  }

  // Функция для отрисовки кнопки "Подробнее" на каждой строчке
  function viewFormatter(value, row) {
    return '<a class="btn btn-primary mb-2" href="/Product/Details/' + row.id + '" role="button">' + 'Подробнее' + '</a>';
  }
</script>
